@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: 'Inter', sans-serif;
    color: #222;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.topo {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 14px 18px;
    background: #ffffffcc;
    border-bottom: 1px solid #e4e4e4;
}

.logo {
    width: 48px;
    height: auto;
}

.title-area h1.title {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 !important;
    line-height: 1;
}

.card-main {
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
}

.card-main .card-content .card-title a.news-title {
    color: #222 !important;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 !important;
    line-height: 1;
}

.title-area .subtitle {
    font-size: .85rem;
    color: #444;
    margin-top: -2px;
}

.content {
    padding: 0px;
    flex: 1
}

.news-list {
    max-width: 900px;
    margin: 0 auto
}

.placeholder {
    text-align: center;
    padding: 40px;
    color: #666
}

.footer {
    text-align: center;
    padding: 14px;
    font-size: .8rem;
    color: #666;
    border-top: 1px solid #e4e4e4;
    background: #fff;
}

/* BARRA DE AÇÕES */
.actions,
.update {
    background: #ffffffcc;
    padding: 25px 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 20px;
}

.actions button,
.green.darken-3 {
    background-color: #006437 !important;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    text-transform: none;
}

/* CARDS DAS NOTÍCIAS */
.news-list {
    padding: 10px;
}

.news-card {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    pointer-events: auto;
}

.news-card h3 {
    margin: 0 0 6px;
    font-size: 17px;
}

.content-new {
    padding: 12px;
    margin-bottom: 10px;
}

.content-new h1 {
    margin: 0 0 6px;
    font-size: 1.2rem;
}

p.news-description {
    font-size: 1rem;
    line-height: 1.5;
    opacity: 0.8;
}

.news-title a:hover {
    color: #006837 !important;
}

.tags-area {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag-chip {
    background: #e6f4ea;
    color: #006837;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.card-main .card-content {
    padding: 15px !important;
}

.collapsible {
    margin: .8rem 2px 1rem 2px;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
    box-shadow: none;
}

.list-ol {
    padding-left: 20px; 
    line-height:1.6;
}

.loader-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 12px 0;
}

.loader-dots span {
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  border-radius: 50%;
  animation: blink 1.4s infinite both;
}

.loader-dots span:nth-child(1) { animation-delay: 0s; }
.loader-dots span:nth-child(2) { animation-delay: 0.2s; }
.loader-dots span:nth-child(3) { animation-delay: 0.4s; }

@keyframes blink {
  0%, 80%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
